<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PC 게임 인포 소개</title>
        <link href="/style/infostyle.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="gameinfo" id="gameinfo">
            <div class="content">
                <img class="gm_img" src="/image/<%= gameInfo.gameid %>.png">
                <p><%= gameInfo.name %></p>
                <p>가격: <%= gameInfo.price %></p>
                <p>설명: <%= gameInfo.detail %></p>
            </div>
        </div>
        <div class="review-form">
            <h3>리뷰 작성</h3>
            <textarea id="reviewInput" placeholder="리뷰를 입력하세요. 로그인 후 작성이 가능합니다."></textarea>
            <button id="submitReview" data-userLoggedIn="<%= userLoggedIn %>">등록</button>
        </div>
        <div class="review_data" id="review_data"></div>
        <script src="/js/info_script.js"></script>
    </body>
</html>